<!--@subject {{trans "%subject" subject=$subject}} @-->
<!--@vars {
"var subject":"Subject line",
"var message|raw":"Log message to be emailed",
"var trace|raw":"Stack trace of the log entry"
} @-->
{{template config_path="design/email/header_template"}}

<tr>
    <td class="block-email-information">
        <p class="text" style="font-family: sans-serif; font-size: 1em; color: black;">{{var message|raw}}</p>
    </td>
</tr>

<tr>
    <td class="block-email-information">
        <p class="text" style="font-family: sans-serif; font-size: 1em; color: black;">{{var trace|raw}}</p>
    </td>
</tr>

{{template config_path="design/email/footer_template"}}
