<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- CRUD model for log entries -->
    <preference for="Bydn\AdminLogger\Api\AdminLogRepositoryInterface" type="Bydn\AdminLogger\Model\AdminLogRepository" />
    <preference for="Bydn\AdminLogger\Api\Data\AdminLogSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Bydn\AdminLogger\Api\Data\AdminLogInterface" type="Bydn\AdminLogger\Model\AdminLog" />

    <!-- Add processor to logger, to add some more util info -->
    <type name="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="bydn_logger_extra_info" xsi:type="object">Bydn\AdminLogger\Processor\Extrainfo</item>
            </argument>
        </arguments>
    </type>

    <!-- Log handler to send alerts -->
    <type name="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers"  xsi:type="array">
                <item name="bydn_logger_notification_alerts" xsi:type="object">Bydn\AdminLogger\Handler\Notification</item>
            </argument>
        </arguments>
    </type>

    <!-- Report listing data provider -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="logger_report_listing_data_source" xsi:type="string">Bydn\AdminLogger\Model\ResourceModel\AdminLog\Collection</item>
            </argument>
        </arguments>
    </type>

</config>

