<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="danielnavarro_utils" translate="label" sortOrder="2600">
            <label>Utilities (by DN)</label>
        </tab>
        <section id="danielnavarro_logger" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Logger Improved</label>
            <tab>danielnavarro_utils</tab>
            <resource>DanielNavarro_Logger::config</resource>
            <group id="email" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email notifications</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send exceptions by email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="telegram" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Telegram notifications</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send exceptions by telegram</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
